<div class="container">

    <div class="row" style="margin-top: 20px;">
        <div class="col-sm-10" >
    <h1>Lista Dos Doctores</h1>
</div>
<div class="col-sm-2" >
    <button class="btn btn-success" routerLink="adicionar">Adicionar Doctor</button>
</div>
</div>


<table class="table">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
        <th scope="col">Telefone</th>
        <th scope="col">Data Adicionado</th>
        <th scope="col">Estado</th>
   </tr> 
 </thead>
 <tbody>
  <tr *ngFor="let item of doctores">
    <td>{{item.nome}}</td>
    <td>{{item.email}}</td>
    <td>{{item.telefone}}</td>
    <td>{{item.data}}</td>
    <td>{{item.estado}}</td>
  </tr>
</tbody>

  </table>

</div>
   