<div class="row" style="background-color: rgb(5, 71, 3);">
    <div class="col-sm-10" style="margin-top: 10px;">
        <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page">Usuarios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" aria-disabled="true">Pacientes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" aria-disabled="true">Hospitais</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" aria-disabled="true">Noticias</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" aria-disabled="true">Ajuda</a>
            </li>
          </ul>
</div>
<div class="col-sm-2">
    <h3>Adm - Inocencio System</h3>
</div>


</div>
